html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
  }

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 100px 100px 100px;
    
  }

  .header-logo {
    font-size: 24px;
    font-color: #F9FAF8;
    font-weight: bold;
  }

.header-links {
    display: flex;
    gap: 15px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 100px 100px 100px;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.section-one-left {
    /* max-width: 400px; */
    flex: 1;
}

.section-one-right {
    background-color: grey;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.sign-up-high {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    font-size: 18px;
}

.section-two {

}

.random {
    text-align: center;
    font-weight: bold;
    color: #1F2937;
    font-size: 24px;
    padding: 30px;
}

.empty-containers {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 0px 100px 100px 100px;
}

.empty-container {
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 5px;
    border-color: #3882F6;
}

.text {
    width: 100px;
    height: 100px;
}
.section-three {
    display: flex;
    flex-direction: column;
}

.thor {
    flex: 1;
    align-self: flex-end;
}

.footer {

}

.footer-container {

}

.footer-text {

}

.btn.sign-up-low {

}