html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
  }

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 200px 150px 200px;
    
  }

  .header-logo {
    font-size: 24px;
    font-color: #F9FAF8;
    font-weight: bold;
  }

.header-links {
    display: flex;
    gap: 15px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 350px;
}

.section-one-left {
    /* max-width: 400px; */
    flex: 1;
}

.section-one-right {
    background-color: grey;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.sign-up-high {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    font-size: 18px;
}

.section-two {
    background-color: #F9FAF8;
    padding: 0px 400px 0px 400px;
}

.random {
    text-align: center;
    font-weight: bold;
    color: #1F2937;
    font-size: 36px;
    padding: 30px;
}

.empty-containers {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* padding: 0px 400px 0px 400px; */
}

.empty-container {
    width: 175px;
    height: 175px;
    border: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3882F6;
}

.text {
    width: 200px;
    height: 200px;
}
.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 400px 150px 400px;
    justify-content: center;
    gap: 10px;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
    color: #1F2937;
    font-size: 24px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    /* max-width: 400px; */
}

.footer {
    display: flex;
    padding: 150px 200px 150px 200px;
    justify-content: center;
    alignt-items: center;
}

.footer-container {
    display: flex;
    background-color: #3882F6;
    flex: 1;
    height: 175px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    border-radius: 5px;
}

.footer-text {
    color: #F9FAF8;
}

.action {
    font-weight: bold;
    font-size: 24px;
}

.btn.sign-up-low {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    border: solid;
    border-color: #F9FAF8;
    margin-top: 5px;
    font-size: 18px;

}