html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
  }

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    
  }

  .header-logo {
    font-size: 24px;
    font-color: #F9FAF8;
  }

.header-links {
    display: flex;
    gap: 10px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
 
}

.section-one-left {

}

.btn.sign-up-high {

}

.section-one-right {

}

.section-two {

}

.empty-containers {
    display: flex;
}

.empty-container {

}

.section-three {
    display: flex;
    flex-direction: column;
}

.thor {
    flex: 1;
    align-self: flex-end;
}

.footer {

}

.footer-container {

}

.footer-text {

}

.btn.sign-up-low {

}